.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}


h4{
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.blog-footer {
  height: 40px;
  padding: 5px 0;
  color: gold;
  text-align: center;
  background-color: black;
  border: 1px solid green;
}
.ts-case-image-wrapper{
	position: relative;
	z-index: 3;
}
body{
	font-family: 'Asap',sans-serif;
	
	line-height: 30px;
	color: #626c84;
}
html{
	text-rendering: optimizeLegibility;
}
.case-title{
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
	color: #fff;
	margin-bottom: 5px;
}

